*{margin:0;padding:0;}
.clearfix:before,.clearfix:after{
    content: '';
    display: table;
    clear: both;
}
.menu-cap3{
    width: 1200px;
    margin: 0 auto;
    list-style: none;
    background-color: #e89e52;
}
.menu-cap3 > li{
    float: left;
}
.menu-cap3 > li a{
    font-size: 16px;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    border-right: 1px solid #e0caca;
    color: #fff;
}
.menu-cap3 > li:last-child a{
    border-right: 0;
}
.menu-cap3 li{
    position: relative;
}
.menu-cap3 li .menu-sub{
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    box-shadow: 0px 1px 8px -4px #333;
    background-color: #e89e51;
    display: none;
}
.menu-cap3 li .menu-sub ul{
    top: 0;
    left: 100%;
}
.menu-cap3 li:hover > ul{
    display: block;
}
.menu-cap3 li:hover > a {
    background: #b36c22;
}

